{% extends 'view/core/core_base.html.twig' %}
{% trans_default_domain 'admin' %}

{% set page_title = 'admin.service.login.page.page_title' | trans %}

{% block page_content %}
    {% block login_form %}
        <form method="post" action="{{ action|default('') }}">
            {% if csrf_token_intention|default(false) %}
                <input type="hidden" name="_csrf_token" value="{{ csrf_token(csrf_token_intention) }}">
            {% endif %}

            <input type="hidden" name="{{ target_path_parameter|default('_target_path') }}" value="{{ target_path|default(ea is defined ? path(ea.dashboardRouteName) : '/') }}" />

            <div class="form-group field-text">
                <label for="username" class="sr-only form-control-label required">{{ 'login.username_label' | trans }}</label>
                <div class="form-widget form-widget-with-icon">
                    <i class="fa fa-fw fa-user"></i>
                    <input type="text" id="username" name="{{ username_parameter|default('username') }}" class="form-control" placeholder="{{ 'admin.service.login.page.username_placeholder' | trans }}" value="{{ last_username|default('') }}" required autofocus>
                </div>
            </div>

            <div class="form-group field-password">
                <label for="password" class="sr-only form-control-label required">c</label>
                <div class="form-widget form-widget-with-icon">
                    <i class="fa fa-fw fa-lock"></i>
                    <input type="password" id="password" name="{{ password_parameter|default('password') }}" class="form-control" placeholder="{{ 'admin.service.login.page.password_placeholder' | trans }}" required>
                </div>
            </div>

            <div class="form-group field-button">
                <button type="submit" class="btn btn-primary btn-lg btn-block w-100" onclick="this.form.submit(); this.disabled=true;">
                    {{ 'admin.service.login.page.sign_in_label' | trans }}
                </button>
            </div>
        </form>

        {% if password_reset_active %}
            <div class="form-group field-button">
                <form action="{{ path('app_forgot_password_request') }}">
                    <button type="submit" class="btn btn-lg btn-block w-100">
                        {{ 'admin.service.login.page.reset_link'|trans }}
                    </button>
                </form>
            </div>
        {% endif %}
        {% if registration_active %}
            <div class="form-group field-button">
                <form action="{{ path('app_register') }}">
                    <button type="submit" class="btn btn-lg btn-block w-100">
                        {{ 'admin.service.login.page.register_link'|trans }}
                    </button>
                </form>
            </div>
        {% endif %}
    
    {% endblock %}
{% endblock %}