{% extends 'view/auth/auth_base.html.twig' %}
{% trans_default_domain 'admin' %}

{% set page_title ='admin.service.registration.page.page_title' | trans %}

{% block page_content %}
    {% block login_form %}
        {% for flashError in app.flashes('verify_email_error') %}
            <div class="alert alert-danger" role="alert">{{ flashError }}</div>
        {% endfor %}

        {{ form_start(registrationForm) }}
                <div>
                    {{ 'admin.service.registration.page.header_text' | trans }}
                </div>

                <div class="form-group field-text">
                    <label for="email" class="sr-only form-control-label required">{{ 'registration.username_label' | trans }}</label>
                    <div class="form-widget">
                        {{ form_row(registrationForm.email) }}
                    </div>
                </div>

                <div class="form-group field-text">
                    <label for="password" class="sr-only form-control-label required">{{ 'registration.password_label' | trans }}</label>
                    <div class="form-widget">
                        {{ form_row(registrationForm.plainPassword) }}
                    </div>
                </div>
                
                <div class="form-group form-check form-switch form-switch-lg w-100">
                    {{ form_widget(registrationForm.agreeTerms) }}
                    <label class="form-check-label" for="flexSwitchCheckDefault">{{ 'admin.service.registration.form.terms.label' | trans }}</label>
                </div>


                <div class="form-group field-button">
                    <button type="submit" class="btn btn-primary btn-lg btn-block w-100" onclick="this.form.submit();">
                        {{ 'admin.service.registration.form.submit.label' | trans }}
                    </button>
                </div>
            {{ form_end(registrationForm) }}

    {% endblock %}
{% endblock %}


        